@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.sidebarChat {
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    height: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.sidebarChat > p {
    font-family: 'Kanit', sans-serif;
    font-size: 23px;
    color: gray;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

